In [49]:
import pandas as pd

In [50]:
df=pd.read_csv("C:/Users/aksha/Downloads/01Exercise1.csv")

In [51]:
df.head()

  gender married   ch  income  loanamt status
0   Male      No  1.0    5849      NaN      Y
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y

In [52]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gender   601 non-null    object
 1   married  611 non-null    object
 2   ch       564 non-null    float64
 3   income   614 non-null    int64
 4   loanamt  592 non-null    float64
 5   status   614 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 28.9+ KB

               ch        income     loanamt
count  564.000000    614.000000  592.000000
mean     0.842199   5403.459283  146.412162
std      0.364878   6109.041673   85.587325
min      0.000000    150.000000    9.000000
25%      1.000000   2877.500000  100.000000
50%      1.000000   3812.500000  128.000000
75%      1.000000   5795.000000  168.000000
max      1.000000  81000.000000  700.000000

In [53]:
#Checking the null values
df.isnull().sum(axis=0)

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [54]:
#Dropping the Null value rows
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529 entries, 1 to 613
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gender   529 non-null    object
 1   married  529 non-null    object
 2   ch       529 non-null    float64
 3   income   529 non-null    int64
 4   loanamt  529 non-null    float64
 5   status   529 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 28.9+ KB

In [55]:
#Dropping irrelevant columns
df=df.drop(["gender"],axis=1)

In [59]:
#Converting Categorical Variable into dummies
df.dtypes

married     object
ch         float64
income       int64
loanamt    float64
status      object
dtype: object

In [61]:
df=pd.get_dummies(df,drop_first=True)

In [63]:
#Normalize the data for loan amt and Income
from sklearn.preprocessing import StandardScaler

In [66]:
Scaler=StandardScaler()
df["income"]=Scaler.fit_transform(df[["income"]])

In [67]:
df["loanamt"]=Scaler.fit_transform(df[["loanamt"]])

<bound method NDFrame.head of 1     -0.194250
2     -0.971015
3     -0.294478
4     -0.031380
5      1.547205
         ...
609   -0.908372
610   -1.296754
611    1.371807
612    0.544929
613   -0.131608
Name: loanamt, Length: 529, dtype: float64>

In [69]:
df.head()

    ch    income   loanamt  married_Yes  status_Y
1  1.0 -0.128073 -0.194250            1         0
2  1.0 -0.392077 -0.971015            1         1
3  1.0 -0.461621 -0.294478            1         1
4  1.0  0.108246 -0.031380            0         1
5  1.0  0.011017  1.547205            1         1

In [ ]:
#Creating seperate independent and dependent variables

In [81]:
x=df.drop(["status_Y"],axis=1)

In [82]:
y=df["status_Y"]

In [84]:
from sklearn.model_selection import train_test_split

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=123,stratify=y)

In [93]:
#Build Logistic Regression
from sklearn.linear_model import LogisticRegression

In [95]:
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [96]:
y_predict=lr.predict(x_test)

In [97]:
y_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1], dtype=uint8)

In [98]:
from sklearn.metrics import confusion_matrix

In [99]:
cm=confusion_matrix(y_test,y_predict)

In [100]:
cm

array([[ 18,  31],
       [  1, 109]], dtype=int64)

In [101]:
score=lr.score(x_test,y_test)
score

0.7987421383647799