In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("C:/Users/aksha/Desktop/Netz/Social_Network_Ads.csv")

In [5]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [8]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler=StandardScaler()
df["Age"]=scaler.fit_transform(df[["Age"]])

In [21]:
df["EstimatedSalary"]=scaler.fit_transform(df[["EstimatedSalary"]])

In [22]:
df.head()

        Age  EstimatedSalary  Purchased
0 -1.781797        -1.490046          0
1 -0.253587        -1.460681          0
2 -1.113206        -0.785290          0
3 -1.017692        -0.374182          0
4 -1.781797         0.183751          0

In [27]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [26]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=123)

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
lr=LogisticRegression()

In [33]:
lr.fit(x_train,y_train)

LogisticRegression()

In [35]:
pred=lr.predict(x_test)

In [36]:
pred

array([1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int64)

In [43]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [40]:
cm=confusion_matrix(y_test,pred)

In [41]:
cm

array([[69,  8],
       [11, 32]], dtype=int64)

In [45]:
accuracy_score(y_test,pred)

0.8416666666666667